/* comfortaa    */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
/* font-family: 'Nerko One', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  transition: all 0.5s ease-in;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #72777e;
}
::-webkit-scrollbar-thumb {
  background-color: #25272b;
  border-radius: 10px;
}
body {
  background-color: #31353a;
}
.nav-img {
  background-image: url("../assets/wraper.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
}
nav {
  background-color: #3a497b !important;
  color: #fff !important;
  filter: drop-shadow(10px 10px 10px #000);
  left: 12.5%;
}
nav .logo-img {
  width: 40px;
  height: 40px;
}
nav .navbar-nav .nav-link:hover {
  color: #137eb0 !important;
}
/* show card data */
.card:hover {
  transform: scale(1.1);
}
.card .card-title + a {
  background-color: #3a497b !important;
}
.card:hover .card-title + a {
  background-color: #137eb0 !important;
}
.card p {
  height: 50px;
}
.active {
  color: #137eb0 !important;
}
.text-1 {
  font-family: "Comfortaa", cursive;
}
.text-2 {
  font-family: "Nerko One", cursive;
}
/* loading */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  left: 45%;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
